/.idea
/data1_chart.png
/data1_model_1_histogram.png
/data1_model_2_histogram.png
/data1_model_3_histogram.png
/data2_chart.png
/data2_model_1_histogram.png
/data2_model_2_histogram.png
/data2_model_3_histogram.png
/data3_model_4_histogram.png
/data3_model_4_plot.png
/data3_model_5_histogram.png
/data3_model_5_plot.png
/data4_model_4_histogram.png
/data4_model_4_plot.png
/data4_model_5_histogram.png
/data4_model_5_plot.png
